@use '../base/var' as v;

@mixin button-base($padding: 0.75rem 1.5rem, $bg: transparent, $fs: v.$fs18) {
	cursor: pointer;

	font-size: $fs;
	font-weight: 500;
	letter-spacing: 0px;
	padding: $padding;
	border-radius: v.$br8;
	background-color: $bg;
	transition: v.$transition-base;
	color: v.$text-base-color;
}

@mixin title($fs: v.$fs80) {
	color: v.$text-base-color;
	font-size: $fs;
	font-weight: 600;
	line-height: 100%;
	margin-bottom: 2.25rem;
}

@mixin subtitle($fs: v.$fs20) {
	color: v.$text-base-color;
	font-size: $fs;
	font-weight: 500;
}

@mixin input($height: 3rem) {
	color: v.$text-white-color;
	background-color: v.$gray-form-bg-color;
	padding-left: 1rem;
	border-radius: v.$br8;
	width: 28.5rem;
	height: $height;
}